body{
    margin: 0%;
    padding: 0%;
}
.container{
    height: 100vh;
    display: flex;
}

.side-bar{
    background-color: blue;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.box-side{
    background-color: aliceblue;
    width: auto;
    height: 50px;
    border: 1px solid black;
}

.main{
    display: flex;
    background-color: yellow;
    flex-grow: 2;
}

@media(max-width: 640px){
    .container{
        display: flex;
        flex-direction: column-reverse;
    }

    .side-bar{
        display: flex;
        flex-direction: row;
        width: auto;
    }
    .box-side{
        width: 200px;
        height: 50px;
    }

    .main{
        display: flex;
        background-color: yellow;
        flex-grow: 2;
    }
}
